[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"

[dev-packages]
tox = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
rope = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
